.bg-blue{
    background-color: blue;
}

.text-white{
    color: white;
}

.mb-50{
    margin-bottom: 50px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: center;
}

.w-30{
    width: 30%;
}

.txt-center{
    text-align: center;
}

.red{
    color: red;
}

.display-none{
    display: none;
}

.boite{
    border:solid;
    border-color: red;
    height: 100px;
    width: 100px;
}

.gap-40{
    gap: 40px;
}


.bg-red{
    background-color: red;
}